.img-container { position: relative; }

.img-container #top {
  position: absolute;
  top: 0px;
}

#top{
  left: 20px;
  clip:rect(200px auto auto auto);
   top:0;
    left:0;
}

#valueContainer {
  margin-top: -160px;
  margin-left: 68px;
  position: absolute;
  font-size: 25px;
  color: white;
}
